/* Custom CSS for the List component */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  h2 {
    font-size: 1.8rem;
    color: #333;
  }
  
  .logout-button, .dashboard-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .logout-button:hover, .dashboard-button:hover {
    background-color: #0056b3;
  }
  
  .questionnaire-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
    color: #333;
    background-color: #f2f2f2;
  }
  
  td {
    color: #333;
  }
  
  .send-invitation-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .send-invitation-button:hover {
    background-color: #0056b3;
  }
  
  .send-invitation-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .success-message, .error-message {
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .success-message {
    background-color: #28a745;
  }
  
  .error-message {
    background-color: #dc3545;
  }  